<!-- Default home page -->
<link type="text/css" href='/styles/fonts.css' rel='stylesheet'/>
<style>
    /* Styles included inline since you'll probably be deleting this page anyway */
    html,body{text-align:left;font-size:1em}html,body,img,form,textarea,input,fieldset,div,p,div,ul,li,ol,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,code{margin:0;padding:0}ul,li{list-style:none}img{display:block}a img{border:0}a{text-decoration:none;font-weight:normal;font-family:inherit}*:active,*:focus{outline:0;-moz-outline-style:none}h1,h2,h3,h4,h5,h6{font-weight:normal}div.clear{clear:both}.clearfix:after{clear:both;content:".";display:block;font-size:0;height:0;line-height:0;visibility:hidden}body{font-family:"Open Sans",Arial,sans-serif;font-weight:300;}.top-bar {width: 100%; background-color: #e4f0f1; padding: 15px 0;}.top-bar .container img {float: left;}.top-bar .container ul {float: right; padding-top: 25px;}.top-bar .container li {float: left; width: 125px; text-align: center; font-size: 15px; color:#000; font-weight: 600;}.top-bar .container a li:hover {color: #987611; -webkit-transition:color 200ms; -moz-transition:color 200ms; -o-transition:color 200ms;transition:color 200ms;}.container{width: 80%; max-width: 1200px; margin: auto;}div.header {-webkit-transition: 6s; -moz-transition: 6s; -o-transition: 6s;transition: 6s; background: rgba(138, 102, 36, 0.89) url(/images/coinraiser_transparent.png) no-repeat 48% bottom; padding: 100px 0 65px;}.header h1#main-title{color: #fff; font-weight: 300; font-size: 2.5em;}.header h3{color: #F7E2B1; font-style: italic; font-weight: 300;}.header h3 code{font-style: normal!important; background-color: rgba(255,255,255,0.5); font-weight: 300; color:#0e6471; margin: 0px 5px;}div.main.container{padding: 50px 0;}h1 {color: #987611; font-weight: 300;}code {font-size: inherit; font-family: 'Consolas', 'Monaco', monospace; padding:4px 5px 1px; background-color: #F5F3ED}a{color: #987911; font-weight: 300; text-decoration: underline;}a:hover {color: #785E11; -webkit-transition:color 200ms; -moz-transition:color 200ms; -o-transition:color 200ms;transition:color 200ms;}p{line-height: 1.5em;}blockquote{background-color: #e4f0f1; padding: 25px; line-height: 1.5em; margin: 15px 0;}blockquote span{font-weight: 600; padding-right: 5px;}ul.getting-started{padding: 25px 75px 25px 0; width: 70%; float: left; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}ul.getting-started li{padding: 25px 0;}ul.getting-started li h3 {padding-bottom: 10px; font-size: 25px; font-weight: 300;}.sprite{background:url(/images/sprites.png) no-repeat; position: absolute; left: 0; top:0;}.getting-started .sprite{margin-left:10px;padding-left:60px;height:42px;width:0; float: left;}.getting-started .one{background-position:0 0}.getting-started .two{background-position:0 -42px}.getting-started .three{background-position:0 -84px}.getting-started .four{background-position:0 -126px}.getting-started .five{background-position:0 -168px}.getting-started .arrow{background-position:0 -210px}div.step {position: relative; padding-left: 70px; opacity: 0.9;}div.step:hover{ opacity: 1;}div.links {float: left; width: 30%; max-width: 325px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; background-color: #F5F3ED; border: 1px solid #ebebeb; padding: 25px 45px 35px;}div.links h3 {color: #727272; text-align: center; font-size: 28px; font-weight: 300;}div.links h4 {color: #727272; font-size: 17px; font-weight: 600; padding: 15px 0 10px;}div.links .link-list a {text-decoration: none; font-weight: 400; font-size:14px;}div.links .link-list p a {font-size:12px;}div.links .link-list li{padding: 0px 0px 5px 0px;font-size: 12px;}div.default-page{min-width: 1200px;}.pocket{display:none;}
</style>
<script type="text/javascript">
setTimeout(function sunrise () {
    document.getElementsByClassName('header')[0].style.backgroundColor = '#E69807';
}, 0);
</script>

<div class="default-page">
    <div class="header">
        <h1 id="main-title" class="container"><%= __('CoinRaiser') %></h1>
        <h3 class="container">Bitcoin fundraising made easy!</h3>
    </div>
    <div class="main container clearfix">
        <!-- <h1>Getting started</h1>
        <p>Don't worry, we've got your back.</p> -->
        <ul class="getting-started">
            <li class="clearfix">
                <div class="step">
                    <div class="sprite one"></div>
                    <h3>Download and install the Android app</h3>
                    <p>
                        This app has not yet been published to the Play store. Please <a target="_blank" href="/apk/coinraiser.apk">download</a> the APK and install it onto your device.
                    </p>
                </div>
            </li>
            <li class="clearfix">
                <div class="step">
                    <div class="sprite two"></div>
                    <h3>
                        Create your CoinRaiser account
                    </h3>
                    <p>
                        Launch the app and create your CoinRaiser account. Simply provide a username, email address, and password. This is all you need to create fundraising campaigns and make donation pledges to campaigns.
                    </p>
                </div>
            </li>
            <li class="clearfix">
                <div class="step">
                    <div class="sprite three"></div>
                    <h3>
                        Connect with Coinbase
                    </h3>
                    <p>
                        In order to collect funds from your fundraising campaigns or to donate funds to campaigns, you must connect with your Coinbase account. If you do not have a Coinbase account, <a target="_blank" href="https://coinbase.com/?r=531eb4328b0a0d164c0002c6&utm_campaign=user-referral&src=referral-link">click here to sign up</a>. By signing up through this link, you are helping support CoinRaiser. <strong>You will receive $5 in bitcoin at no cost to you</strong> once you fund your account with at least $100. Your support is very much appreciated!
                    </p>
                </div>
            </li>
            <li class="clearfix">
                <div class="step">
                    <div class="sprite four"></div>
                    <h3>
                        Donate to a worthwhile cause
                    </h3>
                    <p>
                        Browse through the campaigns listed and help out the cause by donating funds. If you are not linked to a Coinbase
                        account, your donations are pledges that you will fulfill once you have connected to Coinbase. If you are already
                        connected to Coinbase, then your donations will be funded from the bitcoin in your Coinbase account.
                    </p>
                </div>
            </li>
            <li class="clearfix">
                <div class="step">
                    <div class="sprite five"></div>
                    <h3>
                        Launch your campaign
                    </h3>
                    <p>
                        Create a campaign by providing a name, description, funding goal, and adding images. When you launch the
                        campaign, all CoinRaiser users will be able to see it and donate to your cause. If you are not linked to
                        a Coinbase account, donated funds will stored at Coinbase in an escrow account managed by CoinRaiser. Once
                        you connect to Coinbase, you will be able to immediately claim 100% of the donations and they will be sent
                        to your personal Coinbase account. All donations are sent directly to your Coinbase account without going
                        to escrow if you are already a linked Coinbase user when you create your campaign.
                    </p>
                </div>
            </li>
        </ul>
        <div class="links">
            <h4>Getting Started</h4>
            <ul class="link-list">
                <li><a target="_blank" href="/apk/coinraiser.apk">Download Android App</a></li>
                <li><a target="_blank" href="https://coinbase.com/?r=531eb4328b0a0d164c0002c6&utm_campaign=user-referral&src=referral-link"><li>Signup for Coinbase Account</a></li>
            </ul>

            <h4>Tutorials</h4>
            <ul class="link-list">
                <li><a href="tutorial">CoinRaiser 101</a></li>
            </ul>

            <h4>Coinbase BitHackathon</h4>
            <ul class="link-list">
                <li>
                <p>CoinRaiser was submitted to the <a target="_blank" href="http://bithackathon.com">Coinbase BitHackathon</a> on March 16, 2014.
                </p></li>
            </ul>
        </div>
    </div>
</div>
